
img {
  width: 100%;
  height: 200;
  object-fit: cover;
  filter: brightness(0.8);
}

.fixed-bottom {
  bottom: 0px;
  position:static;
}

#vidimg {
height:240px;
width:320px;
}

.jumbotron {
  font-family: 'Times New Roman', Times, serif;
  background-color: white
}
  
/* Add a hover effect (blue shadow) */
video:hover {
  box-shadow: 0 0 1px 1px rgba(0, 140, 186, 0.5);;
}

video {
  margin:auto;
  width:100%;
  border-color:rgb(72, 212, 255);
  border-width: 0.1px;
  border-style: solid;
}


h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-brand {
  background-color: white;

}