nav,
.navbar-default,
.navbar
{
    background-color: white ;
    padding: 20px;
}

#main {
  margin-top:20px;
}
.jumbotron {
   font-family: 'Times New Roman', Times, serif;
  background-color: white
}
  
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
video:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

video {
  margin:auto;
  width:100%;
  border-color:rgb(72, 212, 255);
  border-width: 0.1px;
  border-style: solid;
  
}


#footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}


.navbar {
  width:100%;
  margin: auto;
  position: static;

}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}