nav,
.navbar-default
{
    background-color: white 
}
.jumbotron {
    background-image: url("../images/watch1.jpeg");
    background-size: cover;
}
  
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
video:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

video {
  margin:auto;
  width:100%;
  border-color:rgb(72, 212, 255);
  border-width: 0.2px
  border-style: solid;
}

