form.signup,
.signin,
form.signin {
  align-content: center;
  position: absolute;
}

.navbody {
  margin-top:120px;
  align-items: center;
}

.nav,
.fixed-bottom {
  width:100%;
  background-color:rgb(0, 0, 0);
  align-self: auto;
  color: black;
}