#footer {
    position: static;
    bottom: 0px;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background: black;
  }
  
  
  .navbar {
    width:100%;
    margin: auto;
    position: static;
  }


.navbody {
  margin-top:120px;
  align-items: center;
}

.nav,
.fixed-bottom {
  width:100%;
  background-color:black;
  max-width: 100%;
}