/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
}

.navbar {
  background-color: rgb(255, 255, 255);
  color: white;
}

.navbar-brand {
align-items: center;
}
.nav-link{

  float: right;
}
p{
  color:black;  
}
/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #f5f5f5;
}
img {

  width: 100%;
  height: 50vh;
  object-fit:cover;
}

.cover-container {
  width: 480px;
  color: rgb(0, 0, 0);
}


/*
 * Header
 */
.masthead {
  color: white;
  height: 100px;
}

.btnl {
  width: 250px;
  height: 60px;
  border-color: black;
  color: black;
  background-color: transparent;
 position: center;
 margin-left: 0px;

 object-position: bottom;
 float: bottom  ;
}
.masthead-brand {
font-style: normal;
  margin-bottom: 0;
  font-size: 42px;
  text-shadow: 0px;
  margin-left: 20px;
  color: white;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  background-color: transparent;
  font-size: 30px;
  float: right;
  margin-left: 20px;  color: white;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
  float: right;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  height: 100px;
  color: white;
}


.buttons {
  height: 170px;
  margin: auto;
  padding: 18px; 
  bottom: 0px;
  background-color: transparent;
  border-color: aqua;
  border-radius: 9.1px;
  border-width: 0.2px;
  border-style: solid;

}