img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-style: solid;
  border-color: rgb(0, 204, 255);
  border-width: 0.1 px;
}

body {
font-family:  cursive;

}

.fixed-bottom {
  bottom: 0px;
  position: static;
}

#vidimg {
  height: 240px;
  width: 320px;
}

video:hover {
  box-shadow: 0 0 1px 1px rgba(0, 140, 186, 0.5);
}

video {
  margin: auto;
  width: 100%;
  border-color: rgb(72, 212, 255);
  border-width: 0.1px;
  border-style: solid;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
color:black;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);


}
.navbar-brand {
  background-color: rgba(255, 255, 255, 0.5);
}

body {
font-family:  cursive;

}